
.box {
    text-decoration: none;
    text-align: left;
    font-size: 20px;
    border-radius: 4px;
    text-indent: 5px;
    margin: 2px;
    width: 97%;
    float: left;
    background-color: lightyellow;
}
.chart div{
  background-color: yellow;
  text-align: right;
  pading: 3px;
  margin: 1px;
  color: black;
  font-size: 12px;
}
#map {
  height: 300px;
  width: 100%;
 }
.btnvnosdd {

  padding: 10px;
  background-color: lightgreen;
  border: 1px solid red;
  border-radius: 5px;
  margin: 2px;
  margin-right: 15px;
}
.menuElementi {

  display: none;
  position: absolute;
  z-index: 1;
  background-color: lightgreen;
  border: 1px solid red;
}
.pokazi {
  display: block;
}
.menu {

  display: inline-block;
  position: relative;
}
#detail {
  background-color: white;
  color: black;
  border: 1px solid red;
}
.polje {
    width: 48%;
    height: 100%;
    border: 1px solid red;
    border-radius: 5px;
    margin: 5px;
    float: left;
    background-color: lightyellow;
}
.polje2 {
    width: 48%;
    height: 90%;
    border: 1px solid red;
    border-radius: 5px;
    margin: 5px;
    background-color: lightyellow;
    float:left;
}
.vrsta {
  width: 100%;
  height: 30vh;
}
.vrsta2 {
  clear: both;
  width: 100%;
  height: 60vh;
}
.vnos {
    width: 100%;
   border: 1px solid black;
    margin-left: 5px;
}
.txtvnos {

    float:left;
    width: 25%;
    text-decoration: none;
    text-align: left;
    text-indent: 5px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 2px;
    margin-right: 0px;

}
.txtvnos2 {
    font-size: 10px;
    float:left;
    width: 25%;
    text-decoration: none;
    text-align: left;
    text-indent: 5px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 2px;
    margin-right: 0px;

}
.invnos {
    float: left;
    margin-right: 5px;
    width: 70%;
    margin-left: 0px;
    margin: 2px;
}
.invnos:hover {
    background-color: orange;
}
.btnvnos {
    float: right;
    background-color: lightblue;
    border: 1px solid red;
    border-radius: 5px;
    margin: 2px;
    margin-right: 15px;
}
.btnvnos2 {
    float: right;
    background-color: lightgreen;
    border: 1px solid red;
    border-radius: 5px;
    margin: 2px;
    margin-right: 15px;
}
.btnvnos:hover {
   border: 1px solid orange;
}
.red {
    background-color: lightyellow;
}
.green {
    background-color: lightblue;
}
